[data-group='1'] {
    color: #0A73DD; /* blue-ish */
}

[data-group='2'] {
    color: #DF0EE4; /* magenta-ish */
}

[data-group='3'] {
    color: #1EBA0E; /* green-ish */
}

[data-group='4'] {
    color: #DB0B30; /* red-ish */
}

[data-group='5'] {
    color: #0B2BDB; /* dark-blue-ish */
}

[data-group='6'] {
    color: #EA830F; /* orange-ish */
}
